section.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section.main > section.content{
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    flex: 1;
}

section.main > section.content > .inner{
    flex: 1;
}
